table, td, th, tr {
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    padding: 2px;
}

* {
    box-sizing: border-box;
}

html {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}
